<appSettings>
	<add key="UrlMEVWEB.QRCode" value="https://cnfr.qr.mev-web.ca?f="/>
	<add key="UrlMEVWEB.UrlBaseMEVWEB" value="https://cnfr.api.rq-fo.ca"/>
	<add key="UrlMEVWEB.Enrolement" value="https://certificats.cnfr.api.rq-fo.ca/enrolement"/>
	<!--PROD-->
	<!--
	<add key="UrlMEVWEB.QRCode" value="https://qr.mev-web.ca?f="/>
	<add key="UrlMEVWEB.UrlBaseMEVWEB" value="https://api.rq-fo.ca"/>
	<add key="UrlMEVWEB.Enrolement" value="https://certificats.api.rq-fo.ca/enrolement"/>
	-->
</appSettings>
